# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

input_data_file = 'cities.csv'

print('Done')

Done

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
data_df = pd.read_csv(input_data_file)
del data_df['Unnamed: 0']
data_df

,City,Cloud Cover,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed (MPH)
0,Saint-Philippe,75,RE,1594954429,68,-21.36,55.77,293.15,3.10
1,Ushuaia,0,AR,1594903538,89,-54.80,-68.30,273.15,1.50
2,Norman Wells,90,CA,1594895173,82,65.28,-126.83,290.15,4.60
3,Maniitsoq,7,GL,1594877217,82,65.42,-52.90,281.28,3.75
4,Saint-Pierre,75,RE,1594954496,68,-21.34,55.48,293.15,3.10
...,...,...,...,...,...,...,...,...,...
567,Plast,0,RU,1594943084,78,54.37,60.81,292.62,2.56
568,Ratnagiri,100,IN,1594946511,87,16.98,73.30,299.32,6.95
569,Shushenskoye,40,RU,1594935950,72,53.33,91.94,290.15,3.00
570,Steinbach am Taunus,75,DE,1594870430,93,50.17,8.57,291.48,0.50
571,Bergen,75,NO,1594867277,82,60.39,5.33,288.15,7.20

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
places = data_df[['Latitude', 'Longitude']]
humidity = data_df['Humidity']
humid_map = gmaps.figure()
humid_map.add_layer(gmaps.heatmap_layer(places, weights=humidity))
humid_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# I want humidity below 70% and Max. Temp below 85 F (303 K)
datalh_df = data_df[data_df['Humidity'] < 70]
datalh_df
prime_realestate_df = datalh_df[datalh_df['Maximum Temperature'] < 303]
prime_realestate_df

,City,Cloud Cover,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed (MPH)
0,Saint-Philippe,75,RE,1594954429,68,-21.36,55.77,293.15,3.10
4,Saint-Pierre,75,RE,1594954496,68,-21.34,55.48,293.15,3.10
5,Saldanha,0,ZA,1594878505,66,-33.01,17.94,284.15,1.50
14,San Jose,5,US,1594904388,41,37.34,-121.89,301.48,2.60
19,Santiago,100,CL,1594899821,66,-33.46,-70.65,284.15,0.64
...,...,...,...,...,...,...,...,...,...
533,Gazojak,0,TM,1594946170,30,41.19,61.40,301.34,5.73
537,Ritchie,0,ZA,1594876399,47,-29.04,24.60,273.15,2.67
538,Batticaloa,100,LK,1594945415,69,7.71,81.69,300.73,3.11
554,Maţāy,0,EG,1594868992,47,28.42,30.78,298.31,7.26
562,Presidente Olegário,44,BR,1594892255,65,-18.42,-46.42,293.71,0.45

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df=[]

In [6]:
prime_realestate_df['Hotel Name'] = 0
prime_realestate

C:\Users\bonem\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

NameError: name 'prime_realestate' is not defined

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure